// babel编译的相关配置
{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,       // 转换后代码不生成注释
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
